version: '3.6'

services:
    api:
        image: cronos_api:latest
        build: .
        container_name: cronos_api
        restart: always
        volumes:
            - "./:/usr/local/src/cronos_api"
        ports:
            - "${API_PORT}:${API_PORT}"
        environment:
            DEBUG: ${DEBUG}
            RELOAD: ${RELOAD}
            SECRET_KEY: ${SECRET_KEY}
            ALGORITHM: ${ALGORITHM}
            API_HOST: ${API_HOST}
            API_PORT: ${API_PORT}
            DB_SERVER: ${DB_SERVER}
            DB_USER: ${DB_USER}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_HOST: ${DB_HOST}
            DB_DATABASE: ${DB_DATABASE}
    db:
        image: mariadb:10.9.4
        container_name: cronos_db
        restart: always
        environment:
            MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
            MARIADB_USER: ${DB_USER}
            MARIADB_PASSWORD: ${DB_PASSWORD}
            MARIADB_DATABASE: ${DB_DATABASE}
        volumes:
            - "./db:/var/lib/mysql"
        ports:
            - "${DB_PORT}:${DB_PORT}"
       

    